# Api info
api_token=""
email="user@company.com"

#Command to get adresses:
ipv4_command="curl -s -4 https://ipv4.icanhazip.com"
ipv6_command="curl -s -6 https://ipv6.icanhazip.com"

# JSON includeing domain and their subdomains. Use @ for root. One or many.
domains='{ 
           "domain.com":      ["sub1", "sub2" ],
           "anotherdom.com":  [ "@", "sub1", "sub2" ] 
         }'
